MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
AWS_ENDPOINT_URL=http://localhost:9000

FEAST_REGISTRY=registry.db
FEAST_REDIS_CONNECTION=localhost:6379

### Not an export, pinning java version here for transparency
# JAVA_HOME=$(/usr/libexec/java_home -v 21)
